.outer{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
}
.fetch-btn{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.custom-fetch-button{
    background-color: rgb(76, 44, 125) !important;
    border: none !important;
}
.loading{
    display: flex;
    width: 100%;
    z-index: 2;
    justify-content: center;
    margin-top: 2rem;
}