.record-cover{
    display: flex;
    flex-direction: row;
}
.record-details{
    display: flex;
    flex-direction: column;
}
.name,.email,.phone{
    padding-top: 1em;
}
.update-btn,.delete-btn{
    background-color: rgb(76, 44, 125) !important;
    color: white !important;
    border: none !important;
}
.custom-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}